body{
    width: 100%;
    height: 100%;
    background: #DAEAF1;
    margin: 0;
}

.globalContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    width: 100%;
}

.container {
    display: flex;
    flex: 1;
    background-color: rgb(76, 100, 119);
}
/* 
.navbar{
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #4682B4;
    right: 0;
    top: 0;
    border-bottom: 1px solid #d8d8d8;
} */

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 64px;
    background-color: #303B47;
}

.sidebar{
    width: 260px;
}

.main {
    position: relative;
    width: 100%;
    padding-top: 50px; /* Use the topbar's height + something more? */
    padding-left: 100px; /* Use the sidebar's width + something more? */
    background-color: grey;
    /* Set box-sizing to border-box, to ensure the content block stays within the window, and not expand due to padding */
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  .navbarButton{
    margin: auto;
    background-color: #303B47;
    border: none;
    color: white;
    padding: 10px 21px;
    /* text-align: center; */
    /* display: inline-block; */
    font-size: 16px;

  }

  .buttonWrap{
      margin: auto;
      text-align: center;
  }

  .navbarButton:hover{
      background-color: rgb(76, 100, 119);
  }
  .menuButton{
    background-color: rgb(76, 100, 119);
    border: none;
    color: white;
    padding: 15px 32px;
    /* text-align: center; */
    /* display: inline-block; */
    font-size: 16px;
    width: 80%;
    margin: 10px;
  }

  .plusButton{
    background-color: rgb(76, 100, 119);
    border: none;
    color: white;
    padding: 10x 21px;
    /* text-align: center; */
    /* display: inline-block; */
    font-size: 36px;
    width: 80%;
    margin: 10px;
  }
  .plusButton:hover{

    background-color:#303B47
  }

  .menuButton:hover{

    background-color:#303B47
  }
  .sidebarWrap {
    flex: 1 1 auto;
    position: relative;
    width: 100%;
    overflow: hidden;
  }